[report]
omit = 
    */__init__.py
    */
    */tests/*
    */authentication/backends.py
    */authentication/urls.py
    */profiles/urls.py
    */profiles/permissions.py
    */exceptions.py
    */migrations/*
    */wsgi.py
    */settings.py